.loading-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .loading-spinner {
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        animation: spin 1s linear infinite;
        color: #0067ff;
        font-size: 50px;
    }
}