.list-questions-container {
    width: 900px;

    .filter-list-questions {
        margin-bottom: 10px;

        .header-filter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            .amount-questions-filter {
                font-size: 18px;
                font-weight: 400;
            }

            .btn-filter {
                border-radius: 5px;
                border: 1px solid #31a3c6;
                color: #32bde8;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                gap: 5px;
                cursor: pointer;

                &:hover {
                    background-color: #d5f4ff;
                }
            }
        }

        .detail-filter {
            background-color: #ededed;

            .form-detail-filter {
                display: flex;
                justify-content: space-between;
                padding: 10px;
                border: 1px solid #c0c0c0;

                .filter-by {
                    .form-day-olds {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        .input-day-olds {
                            width: 80px;
                        }
                    }
                }

                .sorted-by {}

                .tagged-with {
                    .select-following-tags {
                        width: 340px;
                    }
                }
            }

            .action-filter {
                padding: 10px;
                border-left: 1px solid #c0c0c0;
                border-bottom: 1px solid #c0c0c0;
                border-right: 1px solid #c0c0c0;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}