.questions-user-container {
    .head-questions-user {
        margin-bottom: 10px;

        .amount-questions-user {
            font-size: 20px;
            font-weight: 500;
        }
    }

    .questions-asked-user {
        border: 1px solid #adb5bd;
        border-radius: 5px;
    }
}