.summary-title-question {
    .icon-post-result {
        margin-right: 5px;
    }

    a {
        text-decoration: none;

        span {
            font-size: 16px;
            color: rgb(59, 100, 236);
            font-weight: 400;
            cursor: pointer;
        }
    }

}