.meta-tag {
    display: inline;
    background-color: rgb(233, 236, 236);
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

    &:hover {
        background-color: rgb(221, 222, 222);
    }
}