   .btn-edit-list-save {
       border: 1px solid #d8d8d8;
       cursor: pointer;
       height: fit-content;
       border-radius: 5px;
       display: flex;
       align-items: center;
       padding: 5px;

       &:hover {
           background-color: #f4f4f4;
       }

       .text-edit-list-save {
           font-size: 15px;

       }
   }