.post-saved {
    position: relative;
    border-bottom: 1px solid #ced4da;
    padding: 10px;

    &:last-child {
        border: none;
    }

    .icon-menu-post-saved {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        padding: 5px;

        &:hover {
            outline: 1px solid black;
            border-radius: 5px;
            background-color: #fffcf8;
        }
    }

    .private-note-container {
        background-color: #ffeaab;
        display: flex;
        padding: 10px;
        border-radius: 5px;
        justify-content: space-between;
        margin-top: 10px;

        .before-private-note {
            width: 5px;
            border-radius: 5px;
            background-color: #ffc002;
        }

        .content-private-note {
            font-size: 14px;
            width: calc(100% - 5px - 10px);
            overflow-wrap: break-word;
        }
    }

    .add-private-note {
        display: flex;
        gap: 20px;
        margin-top: 10px;
    }
}