.question-saved-container {

    .stats-question-saved {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .content-question-saved {
        .meta-question-saved {}
    }
}