.dropdown {
    .icon-notification {
        font-size: 23px;
        cursor: pointer;
        padding: 5px;

        &:hover {
            background-color: #dedede;
        }

        .amount-notification {
            position: absolute;
            font-size: 12px;
            font-weight: 700;
            right: 0px;
            width: fit-content;
            min-width: 18px;
            height: 18px;
            color: #fff;
            background-color: red;
            border-radius: 50%;
            text-align: center;
        }
    }

    .notification-menu {
        width: 370px;
        height: 420px;
        overflow-y: auto;
        padding-bottom: 0;

        .notification-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 4px 16px;
            border-bottom: 1px solid #ced4da;

            .dropdown {
                .notification-inbox {
                    font-size: 13px;
                    font-weight: 700;
                }
            }

            .notification-mark {
                font-size: 13px;
                color: #16b6d6;
                cursor: pointer;
            }
        }

        .open-notification {
            position: absolute;
            right: 16px;
            cursor: pointer;
        }

        .notification-content {
            display: flex;
            gap: 10px;
            border-bottom: 1px solid #ced4da;

            .notification-info {
                flex-basis: 84%;

                .info-header {
                    display: flex;
                    justify-content: space-between;

                    .info-type {
                        font-size: 14px;
                    }

                    .info-creation {
                        font-size: 14px;
                    }
                }

                .info-summary {
                    font-size: 14px;
                    white-space: pre-line;
                }
            }

            &:hover {
                background-color: rgba(223, 223, 223, 0.72);
                ;
            }

            &:active {
                color: var(--bs-dropdown-link-active-color);
                text-decoration: none;
                background-color: var(--bs-dropdown-link-active-bg);
            }
        }

        .notification-read {
            background-color: rgba(233, 233, 233, 0.72);
        }

        .notification-unread {
            background-color: #fff;
        }

        .go-full-inbox {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px 16px;
            font-size: 13px;
            color: #008cff;
            cursor: pointer;
            position: sticky;
            bottom: 0;
            background-color: white;
        }
    }

}