.answers-user-container {
    .head-answers-user {
        margin-bottom: 10px;

        .amount-answers-user {
            font-size: 20px;
            font-weight: 500;
        }
    }

    .answers-answered-user {
        border: 1px solid #adb5bd;
        border-radius: 5px;
    }
}