.list-answers-container {
    margin-top: 20px;

    .list-answers-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .number-answers {
            font-size: 22px;
            font-weight: 400;
        }

        .sort-answers {
            display: flex;
            align-items: center;
        }

        .sort-select-option {
            width: fit-content;
        }
    }

}