.list-answers-container {
    .number-answers {}

    .answer-container {
        margin-top: 15px;
        display: flex;

        .detail-answer {
            max-width: 800px;
            width: 100%;
            margin-left: 10px;

            .content-answer {
                margin-bottom: 20px;
            }

            .signature-answer {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}