.stats-answer-container {
    margin-bottom: 5px;

    .amount-votes {
        font-size: 14px;
        margin-right: 10px;
    }

    .icon-accepted-answer {
        font-size: 14px;
        border-radius: 5px;
    }
}